{% load static %}<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/app.css' %}">


<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Tweet ID</th>
        <th>ID</th>
        <th>Tweet</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      {% for tweet in tweets %}
        <tr>
          <td>{{ tweet.tweet_id }}</td>
          <td>{{ tweet.id }}</td>
          <td>{{ tweet.text }}</td>
          <td>{{ tweet.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<nav aria-label="Page navigation">
{% if tweets.has_other_pages %}
  <ul class="pagination ">
    {% if tweets.has_previous %}
      <li><a class="page-link" href="?page={{ tweets.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in tweets.paginator.page_range %}
      {% if tweets.number == i %}
        <li class="active "><span class = "page-link">{{ i }} <span class="sr-only ">(current)</span></span></li>
      {% else %}
        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if tweets.has_next %}
      <li><a  class="page-link" href="?page={{ tweets.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class = "page-link"> >&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</nav>